In [1]:
import pandas as pd

In [2]:
sgd = pd.read_csv("sgd.csv", parse_dates=["Date"])
dbs = pd.read_csv("dbs.csv", parse_dates=["Date"])

# Keep only Date + SGD, Date + DBS
sgd = sgd[["Date", "SGD"]]
dbs = dbs[["Date", "DBS"]]

# Merge on Date (only keep rows with both values)
merged = pd.merge(sgd, dbs, on="Date", how="inner").dropna()

# Save clean dataset
merged.to_csv("DBS_SingDollar.csv", index=False)

print("Clean dataset saved with", len(merged), "rows")
print(merged.head())

Clean dataset saved with 251 rows
        Date     SGD    DBS
0 2025-08-29  1.2838  50.52
1 2025-08-28  1.2826  50.33
2 2025-08-27  1.2861  50.17
3 2025-08-26  1.2852  50.02
4 2025-08-25  1.2857  50.33

In [3]:
df = pd.read_csv("DBS_SingDollar.csv")

In [4]:
df

           Date     SGD    DBS
0    2025-08-29  1.2838  50.52
1    2025-08-28  1.2826  50.33
2    2025-08-27  1.2861  50.17
3    2025-08-26  1.2852  50.02
4    2025-08-25  1.2857  50.33
..          ...     ...    ...
246  2024-09-06  1.3024  36.53
247  2024-09-05  1.3000  36.65
248  2024-09-04  1.3037  36.60
249  2024-09-03  1.3071  37.25
250  2024-09-02  1.3070  36.80

[251 rows x 3 columns]

In [5]:
X = df.loc[:,["SGD"]]
Y = df.loc[:,['DBS']]
print(X)

from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(X,Y)
pred = model.predict(X)

        SGD
0    1.2838
1    1.2826
2    1.2861
3    1.2852
4    1.2857
..      ...
246  1.3024
247  1.3000
248  1.3037
249  1.3071
250  1.3070

[251 rows x 1 columns]

In [6]:
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(Y,pred)**0.5
print(rmse)
#print(rmse/Y.mean(axis=0)*100)

3.376863907083145

In [7]:
model.coef_

array([[-15.15160243]])

In [8]:
model.intercept_

array([63.56406635])

In [9]:
#save model
import joblib
joblib.dump(model,"dbs.jl")

['dbs.jl']

---

In [10]:
#load model
import joblib
model = joblib.load("dbs.jl")

# Predict 
rate = 1.28
model.predict([[rate]])[0]

C:\Users\7evan\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([44.17001524])

### The End, is the New Start.

In [14]:
# More accurate by downloading more recent DBS share price data